<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
    <h1>{{ message }}</h1>
    
    <p>Ceci est une page de démonstration pour mon projet Symfony.</p>
    
    <footer>
        <p>© {{ 'now'|date('M/Y') }} Mon Site Web</p>
    </footer>
</body>
</html>
