


{% block title %}Somme des livres de la catégorie "Science Fiction"{% endblock %}

{% block body %}
    <h1>Somme des livres de la catégorie "Science Fiction"</h1>
    <p>La somme des livres dans la catégorie "{{ category }}" est de : {{ totalQuantity }}</p>
{% endblock %}

